<li class="list-group-item active">
  <p class="list-group-item-text">
    <h5><%= comment.commenter %></h5>
    <%= comment.body %>
    <br/>
  </p>
  <p>
    <%= link_to 'Delete comment',[comment.photo.album,comment.photo,comment],method: :delete,data: {confirm:'Are you sure?'} %>
  </p>
</li>
