<li class="list-group-item active">
  <p class="list-group-item-text">
    <p>
      <h7><strong><%= comment.commenter %></strong></h7>
      <h8><i>&nbsp;&nbsp;&nbsp;[<%= comment.created_at %>]</i></h8>
    </p>
    <p>
      <%= comment.body %>
    </p>
  </p>
  <p>
    <% if current_user != nil %>
      <% if @photo.user_id == current_user.id  %>
        <%= link_to t('delete_comment'),[comment.photo.album,comment.photo,comment],method: :delete,data: {confirm:'Are you sure?'} %>
      <% end %>
    <% end %>
  </p>
</li>
