<h1># # #  Photoblog  # # #</h1>
<br/>
<%= link_to "Show albums", albums_path, class: 'btn btn-info' %>
<br/><br/>
<% @albums.each do |album| %>
    <p>
      <h2><%= album.title %></h2>
        <p>
          <%= album.description %>
        </p>
        <%= link_to 'Mehr', album %>
    </p>
    <br/>
<% end %>