<h2><%= t('albums') %></h2>
<hr>
<br/>
<% @albums.each do |album| %>
  <p>
    <h3><%= album.title %></h3>
      <p>
        <%= album.description %>
      </p>
      <%= link_to t('more'), album %>
  </p>
  <br/>
<% end %>
