<h1>
  <%= @album.title %>
</h1>

<p>
  <%= @album.description %>
</p>
<br/>
<%= link_to "Back to albums", albums_path, class: 'btn btn-info' %>
<br/>
<%= link_to "To home screen", welcome_index_path, class: 'btn btn-success' %>