<h2><%= t('photos') %></h2>
<br/>

<p>
  <%= link_to t('btn_back'), welcome_index_path, class: 'btn btn-small btn-info' %>
</p>
<hr>

<p>
  <% @photos.each do |photo| %>
    <%= link_to image_tag(photo.filename,:size=>'240x180',:border=> 0),album_photo_path(photo.album, photo) %>
  <% end %>
</p>
